
@keyframes colorifyRed {
  from {
    background-color: #6C7A89;
  }
  to {
    background-color: #F64747;
  }
}

@keyframes unColorifyRed {
  from {
    background-color: #F64747;
  }
  to {
    background-color: #6C7A89;
  }
}

@keyframes colorifyYellow {
  from {
    background-color: #6C7A89;
  }
  to {
    background-color: #F39C12;
  }
}

@keyframes unColorifyYellow {
  from {
    background-color: #F39C12;
  }
  to {
    background-color: #6C7A89;
  }
}

@keyframes colorifyGreen {
  from {
    background-color: #6C7A89;
  }
  to {
    background-color: #019875;
  }
}

@keyframes unColorifyGreen {
  from {
    background-color: #019875;
  }
  to {
    background-color: #6C7A89;
  }
}
