#cyo {
  width: 50%;
  background-color: #019875;
  color: #fff;
  padding: 2%;
  margin: 2% auto;
  border-radius: 5px;
}

.card_entries {
  padding: 1%;
  font-size: 0.9rem;
}

input {
  color: #6C7A89;
}

.card_entries input {
  width: 175px;
  margin: 0 1%;
}

.card_entries label {
  padding-right: 2%;
}

#cyo_submit, .addMore {
  width: 175px;
  margin: 3%;
  padding: 2%;
  border-radius: 3px;
}

#cyo_submit {
  background-color: #fff;
  border: 2px solid #fff;
  transition: color 0.3s linear;
  transition: border 0.3s linear;
}

.addMore {
  border: 2px solid #fff;
  transition: background-color 0.3s linear;
}

.addMore:hover {
  background-color: #56616c;
}

#cyo_submit:hover {
  color: #56616c;
  border: 2px solid #56616c;
}

legend {
  padding: 2%;
  text-align: left;
}

fieldset {
  border-color: #fff;
}

#create_title {
  width: 126px;
}

#cyo_topic_title {
  width: 70px;
}
