/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab:400,700|Open+Sans:300,400);

* {
  box-sizing: border-box;
}

/* Main */
body {
  background-image: url("img/squared_metal.png");
  font-family: 'Roboto Slab', serif;
  color: #2574A9;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5rem;
  margin: 10px auto;
}

/* Buttons */
button {
  background-color: #2574A9;
  width: 90px;
  color: #fff;
  border: none;
  padding: 2%;
  margin: 0 1%;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

#reset {
  background-color: #6C7A89;
}

/* Flashcard */
#flashcard {
  width: 50%;
  min-height: 250px;
  background-color: #fff;
  margin: 10px auto;
  padding: 5% 0 0;
  border-top: solid 5px #F64747;
  border-radius: 3px;
  position: relative;
  transition: transform 2s;
}

.top_row {
  position: absolute;
  display: inline-block;
  color: #6C7A89;
  margin: 0;
}

.topic {
  top: 5px;
  left: 5px;
}

.count {
  top: 5px;
  right: 5px;
  background-color: #6C7A89;
  color: #fff;
  border-radius: 100%;
  padding: 2%;
}

#controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#front_side, #back_side {
  font-size: 2rem;
}

/* Topics */
#switch_topic {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  height: 160px;
}

#switch_topic h3 {
  color: #2574A9;
}

.topic1, .topic2, .create_flashcards {
  position: absolute;
  display: inline-block;
  width: 32.5%;
  height: 100px;
  margin: 0 1%;
  padding: 1%;
  background-color: #6C7A89;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic1 {
  left: 0;
  border-top: solid 5px #F64747;
}

.topic1:hover {
  background-color: #F64747;
}

.topic2 {
  left: 33%;
  border-top: solid 5px #F39C12;
}

.topic2:hover {
  background-color: #F39C12;
}

.create_flashcards {
  left: 66%;
  border-top: solid 5px #019875;
}

.create_flashcards:hover {
  background-color: #019875;
}


/* Keyboard Shortcuts */
#keyboard_shortcuts {
  background-color: #2574A9;
  color: #fff;
  margin: 0 auto 5%;
  padding: 1%;
  border-radius: 3px;
  width: 50%;
}

#keyboard_shortcuts ul {
  list-style: none;
  text-align: left;
}

#keyboard_shortcuts li {
  display: inline-block;
  width: 48%;
  padding: 0.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

#keyboard_shortcuts h3 {
  margin: 0;
}

/* Hide Class */
.hide {
  display: none;
}

/* Clearfix */
/*.clear::before {
  display: table;
  content: '';
  clear: both;
}*/

/* Flashcard Media Queries */
@media screen and (max-width: 800px) {
  #flashcard, #keyboard_shortcuts, #switch_topic {
    width: 85%;
  }
}

/* Make Each Deck Different Color and Correspond to Top Flashcard Border */


/* Experimenting with CSS Flip Animation */

/* Entire container, Keeps Perspective */
#flashcard {
	perspective: 1000;
}
	/* Flip the pane when hovered */
	#flashcard:hover .flipper, #flashcard.hover .flipper {
		transform: rotateX(180deg);
	}

/* Flip speed goes here */
.flipper {
	transition: 0.7s;
	transform-style: preserve-3d;
}

/* Hide back of pane during swap */
#front_side, #back_side {
  position: absolute;
  left: 200px;
	backface-visibility: hidden;
}

/* Front pane, placed above back */
#front_side {
  top: 25px;
	z-index: 2;
}

/* Back, initially hidden pane */
#back_side {
  bottom: 25px;
	transform: rotateX(180deg);
}
