/* Flashcard */
#flashcard {
  width: 60%;
  min-height: 350px;
  background-color: #fff;
  margin: 10px auto;
  padding: 5% 3% 0 3%;
  border-top: solid 5px #F64747;
  border-radius: 3px;
  position: relative;
}

.top_row {
  position: absolute;
  display: inline-block;
  color: #6C7A89;
  margin: 0;
}

.topic {
  top: 5px;
  left: 5px;
}

.count {
  width: 50px;
  height: 50px;
  top: 5px;
  right: 5px;
  background-color: #6C7A89;
  color: #fff;
  border-radius: 100%;
  padding: 2%;
}

#controls {
  position: absolute;
  bottom: 10px;
  width: 87%;
}

.mark_complete_container {
  display: inline-block;
  width: 150px;
  padding: 1% 0;
}

#front_side, #back_side {
  width: 87%;
  position: absolute;
  margin-top: 1%;
}

#back_side {
  color: #6C7A89;
}

#front_side p, #back_side p {
  margin-top: 1%;
  font-size: 2rem;
}

i {
  padding: 1%;
}
