<div class='card_entries'>
  <label for='front {{this.cardNumber}}'>Card &#35;{{number}}</label>
  <input type='text' class='front' name='front {{cardNumber}}' placeholder='Front'>
  <input type='text' class='back' name='back {{cardNumber}}' placeholder='Back'>
</div>
