<div class='card_entries'>
  <label for='front {{cardNumber}}'>Card &#35;{{cardNumber}}</label>
  <input type='text' class='front' name='front {{cardNumber}}' placeholder='Front'>
  <input type='text' class='back' name='back {{cardNumber}}' placeholder='Back'>
</div>"
