<div class='card_entries'>
  <label for='front'>Card &#35;{{number}}</label>
  <input type='text' class='front' name='front' placeholder='Front'>
  <input type='text' class='back' name='back' placeholder='Back'>
</div>
